version: "3.9"

services:
  backend:
    build: .
    container_name: backend
    command: >
      sh -c "
            python manage.py makemigrations &&
            python manage.py migrate &&
            python manage.py collectstatic --noinput &&
            python manage.py runserver 0.0.0.0:8000"
    volumes:
      - ./core:/app
      - static_volume:/app/static
      - media_volume:/app/media

    expose:
      - "8000"
    env_file:
      - .env  
    depends_on:
      - db
    networks:
      - cloud-network


  db:
    image: postgres:16.4-bookworm
    container_name: postgres-db
    ports:
      - "5433:5432"
    env_file:
      - .env  
    volumes:
      - postgres_data_fresh:/var/lib/postgresql/data
    networks:
      - cloud-network


  nginx:
    image: nginx
    container_name: nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"

    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/home/app/static
      - media_volume:/home/app/media
      - /etc/letsencrypt:/etc/letsencrypt:ro

    depends_on:
      - backend

    networks:
      - cloud-network


volumes:
  postgres_data_fresh:
  static_volume:
  media_volume:

networks:
  cloud-network:
    driver: bridge
